apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-zjfd
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-zjfd
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-zjfd
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-zjfd
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-zjfd
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-cmqi-tenant/rhtap-demo-app/hacbs-test-project-zjfd@sha256:c9c8d855ec1e0955da10267b291042466e52af3762b8d8d834a07b47d35b0735
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
